html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right bottom, #414344, black);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  box-sizing: border-box;
}

#canvas-space {
  height: 100vh !important;
}
